@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>

    @if (TempData["RemainingShares"] != null || TempData["CostBasisSold"] != null
       || TempData["CostBasisRemaining"] != null || TempData["TotalProfit"] != null)
    {
        <div class="alert alert-success">
            <ul>
                @if (TempData["RemainingShares"] != null)
                {
                    <li>Remaining Shares: @TempData["RemainingShares"]</li>
                }
                @if (TempData["CostBasisSold"] != null)
                {
                    <li>Cost Basis of Sold Shares: $@TempData["CostBasisSold"]</li>
                }
                @if (TempData["CostBasisRemaining"] != null)
                {
                    <li>Cost Basis of Remaining Shares: $@TempData["CostBasisRemaining"]</li>
                }
                @if (TempData["TotalProfit"] != null)
                {
                    <li>Total Profit: $@TempData["TotalProfit"]</li>
                }
            </ul>
        </div>
    }
}
@if (TempData["WarningMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["WarningMessage"]
    </div>
}

<h1> Investment Lots</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Shares</th>
            <th>Price Per Share</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lot in Model)
        {
            <tr>
                <td>@lot.Id</td>
                <td>@lot.Shares</td>
                <td>@lot.PricePerShare.ToString("F2")</td>
                <td>@lot.PurchaseDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-4">
    <a asp-action="Create" class="btn-submit">Add New Investment Lot</a>
</div>

<div class="mt-4">
    <a asp-action="Sell" class="btn-submit">Sell Shares</a>
</div>